@import url('../../index.css');
@import url(./adaptive.css);

.mainBox {
	background: #ffffff;
}

.linked {
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 6px;
}

/* ================== BODY ===================  */

.body-mainBox__item {
	width: 100%;
	height: 595px;
	z-index: 0;
	background-image: url(../../src/toursImg.jpg);
	background-size: cover;
	background-position: center;
}
.body-mainBox__itemBackShadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -10%, rgba(0, 0, 0, 0) 50%);
}
.body-mainBox__infoBar {
	margin-top: -30px;
	display: flex;
	flex-basis: 70%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.body-mainBox__infoBar div {
	display: flex;
	margin-bottom: 74px;
	justify-content: center;
	align-items: center;
}
.body-mainBox__infoBar img {
	width: 5px;
	height: 8px;
	margin: 11px;
}
.body-mainBox__infoBar p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.body-mainBox__infoBar a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
}
.body-mainBox__infoBar h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 125px;
	color: #ffffff;
	margin-bottom: 70px;
}

/* =====================  choose tour ==================== */
#toursPage .body__chooseTourBox {
	margin-top: 100px;
	height: 100%;
	margin-bottom: 100px;
}
#toursPage .body-chooseTourBoxSlide {
	flex-wrap: wrap;
}

#toursPage .chooseTourBox-item__imgBox {
	background-image: url(../../src/chooseTourImg1.png);
}

/* ================ find tour ================ */

#toursPage .body__findTourBoxImg {
	background-image: url(../../src/brown-horse-grazing-mountain-penas-de-aya-oiartzun-gipuzkoa-spain\ 1.png);
}

/*================== FOOTER ===================*/
