@media (max-width: 1200px) {
	.footer-contactBox__container {
		margin-right: 0px;
		width: 350px;
	}
	.footer-contactBox__socialMediaBox p {
		width: 300px;
	}
	/* ========== contacts =========== */
	#contactPage .body-mainBox__infoBar {
		padding-left: 10px;
	}
	#contactPage .infoBar__title {
		font-size: 40px;
		line-height: 40px;
	}
	#contactPage .body-mainBox__item {
		height: 650px;
	}
	#contactPage .infoBar__links {
		margin-bottom: 40px;
	}
	#contactPage .infoBar__links a {
		font-size: 12px;
	}
	#contactPage .infoBar__links p {
		font-size: 12px;
	}
	/* ======== galleryBox ========  */
	#galleryPage .body__galleryBox {
		width: 80%;
	}
	#galleryPage .galleryBox__itemTextBox {
		width: 80%;
	}
	/* ====== about us page ======== */

	.body__whoWeAreBox {
		width: 80%;
		justify-content: flex-start;
		height: fit-content;
	}
	.body__ourTeamBox {
		display: flex;
		align-items: center;
		width: 80%;
	}
	.whoWeAre__text {
		font-size: 14px;
	}
	.ourTeamBox__text {
		font-size: 14px;
	}
	.whoWeAre__textImgBox {
		height: fit-content;
	}
	.ourTeamBox__item {
		height: min-content;
	}
}
@media (max-width: 990px) {
	.header {
		height: 60px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	.header__navBar {
		width: 100%;
	}
	.header-navBar__logoBox {
		width: 30%;
	}
	.header-navBar__logoBox img {
		width: 120px;
	}
	.header-navBar__buttonsBox {
		width: 70%;
	}
	.header-navBar__buttons a {
		font-size: 12px;
		line-height: 10px;
		margin: 20px;
	}
	.header-navBar__buttons.bordered {
		border-right: 1px solid white;
	}

	/*===================== главный слайдер =================*/

	.body__mainSlider .slick-arrow {
		width: 10px;
		height: 22px;
	}
	/* конец главного слайдера */
	.body-mainSlider__item {
		height: 500px;
	}
	.body-mainSlider__infoBar {
		flex-basis: 70%;
		height: 100%;
	}
	.body-mainSlider__infoBar p {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 15px;
	}
	.body-mainSlider__infoBar h1 {
		font-size: 50px;
		line-height: 80px;
		margin-bottom: 40px;
	}

	.mainButton {
		width: 300px;
		font-size: 12px;
		height: 40px;
	}

	/* =====================  choose tour ==================== */

	.chooseTourBox__headBar {
		margin-bottom: 5px;
	}
	.chooseTourBox-headBar__text {
		font-size: 20px;
		line-height: 25px;
		margin-left: 10px;
	}
	.chooseTourBox-headBar__mainLink {
		font-size: 14px;
		margin-right: 70px;
	}
	.chooseTourBox-item__imgBox {
		width: 100%;
		height: 150px;
		border-radius: 10px 10px 0px 0px;
	}

	.chooseTourBox-item__imgBoxShadow {
		background: linear-gradient(180deg, #000000 -15.22%, rgba(0, 0, 0, 0) 100%);
		border-radius: 10px 10px 0px 0px;
		width: 100%;
		height: 100%;
	}
	.chooseTourBox-item__imgBoxLocationTextBox {
		margin-top: 5px;
		font-size: 10px;
		line-height: 10px;
	}
	.chooseTourBox-item__imgBoxLocationTextBox img {
		width: 7px;
		height: 10px;
		margin: 0px 5px 0px 8px;
	}
	.chooseTourBox-item__imgBoxLocationTextBox p {
		width: 70%;
	}
	.tourPriceBox {
		font-size: 15px;
		align-items: center;
		width: 80px;
		height: 30px;
	}
	.tourPriceBox p {
		font-size: 10px;
		margin-left: 3px;
		margin-top: 5px;
	}
	.chooseTourBox-item__contentBox {
		height: 260px;
	}
	.chooseTourBox-item__contentBox h1 {
		font-size: 14px;
		margin-bottom: 12px;
		margin-top: 15px;
	}
	.chooseTourBox-item__contentBox p {
		margin-bottom: 15px;
		font-size: 12px;
		width: 85%;
	}
	.contentBox__item {
		width: 50%;
		margin-bottom: 15px;
	}
	.contentBox__item h3 {
		font-size: 8px;
		margin-bottom: 5px;
	}
	.contentBox__item h2 {
		font-size: 12px;
	}
	.chooseTourBox-item__contentBox a {
		font-size: 10px;
		width: 130px;
	}
	/* ===================== choose tour SLIDER ======================== */
	.body-chooseTourBoxSlide .slick-list {
		border-radius: 20px;
	}
	.body-chooseTourBoxSlide .slick-track {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.body__chooseTourBox {
		width: 690px;
		height: 520px;
	}
	.body-chooseTourBox__item {
		height: 412px;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
	.body-chooseTourBoxSlide .slick-arrow {
		width: 10px;
		height: 20px;
		top: -27px;
	}
	.body-chooseTourBoxSlide .slick-arrow.slick-prev {
		margin-right: 38px;
	}
	.body-chooseTourBoxSlide .slick-arrow.slick-next {
		margin-right: 10px;
	}

	/* ================ find tour ================ */

	.body__findTourBoxImg {
		height: fit-content;
	}
	.body__findTourBox {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.body__findTourBox h1 {
		font-size: 30px;
	}
	.body__findTourBox p {
		font-size: 15px;
		margin-bottom: 30px;
	}
	.body-findTourBox__formBox {
		width: 80%;
	}
	.findTourBox__formItem {
		font-size: 12px;
		width: 100%;
	}

	/* =============== красивые места ================ */
	.body-beautifulPlacesBoxSlide .slick-list {
		width: 620px;
		height: min-content;
	}
	.body__beautifulPlacesBox {
		width: 90%;
		margin-bottom: 20px;
	}
	.beautifulPlacesBox__text {
		font-size: 20px;
		margin-bottom: 5px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow {
		width: 7px;
		height: 11px;
		top: -30px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow.slick-prev {
		margin-right: 38px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow.slick-next {
		margin-right: 10px;
	}
	/* ================ tienSHan ==================== */

	.body__tienShanMapBox {
		width: 580px;
		height: 450px;
	}
	.body-tienShanMapBox__headBar {
		width: 100%;
		margin-bottom: 10px;
	}
	.body-tienShanMapBox__imgBox {
		height: 350px;
	}
	.tienShanMapBox-headBar__text {
		font-size: 20px;
	}

	/*================== FOOTER ===================*/

	.footer__getInTouchBoxImg {
		height: 450px;
	}
	.footer-getInTouchBox__title {
		font-size: 30px;
	}
	.findTourBox__formItem.Description {
		width: 97.5%;
		height: 80px;
	}
	.footer-getInTouchBox__contacts div {
		margin: 20px 30px;
	}
	.footer-getInTouchBox__contacts div a {
		font-size: 12px;
		line-height: 10px;
	}
	.footer-getInTouchBox__contacts div p {
		font-size: 8px;
	}
	/*  =========  footer contactbox  ===== */
	.footer__contactBox {
		width: 100%;
		height: 250px;
	}
	.footer-contactBox__socialMediaBox {
		width: 47%;
		height: 250px;
	}
	.footer-contactBox__container {
		margin-right: 0px;
		width: 80%;
	}
	.contactBox-socialMediaBox__logoBox {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.contactBox-socialMediaBox__logoBox img {
		width: 100px;
	}
	.footer-contactBox__socialMediaBox p {
		width: 80%;
		font-size: 12px;
		line-height: 15px;
	}
	.contactBox-socialMediaBox__socialMedia {
		margin-bottom: 20px;
	}
	.contactBox-socialMediaBox__socialMedia a {
		margin-left: 10px;
		margin-right: 10px;
		width: 20px;
		height: 20px;
		border-radius: 7px;
	}
	.contactBox-socialMediaBox__socialMedia a img {
		width: 20px;
		height: 20px;
		background-size: cover;
	}
	.footer-contactBox__contacts p {
		margin-bottom: 10px;
		font-size: 15px;
	}
	.footer-contactBox__contacts a {
		margin-bottom: 10px;
		font-size: 12px;
	}
	.footer-contactBox__contacts img {
		width: 20px;
		height: 20px;
	}
	.footer__subBar {
		font-size: 12px;
		height: 40px;
	}
	/* ============ contacts =========== */
	#contactPage .socialMediaContainer {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	#contactPage .body-mainBox__item {
		height: 550px;
	}
	#contactPage .body-mainBox__infoBar {
		margin-bottom: 30px;
	}
	#contactPage .contactBox-socialMediaBox__socialMedia {
		margin-bottom: 0px;
	}
	#contactPage .findTourBox__formItem {
		margin: 5px;
		width: 100%;
	}

	/* ======== galleryBox ========  */
	#galleryPage .body__galleryBox {
		width: 80%;
	}
	/* =========== about us page =========== */
	.whoWeAre__textImgBox img {
		display: none;
	}
	.ourTeamBox__item {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.ourTeamBox__textBox {
		margin-left: 0px;
		width: 100%;
		align-items: center;
	}
	/* ========= tourinfo ======== */
	.body__gridContainer {
		width: 90%;
		grid-template-columns: 100%;
	}
	.body__grouptourBox {
		grid-column-start: 1;
		grid-row-start: 4;
	}
	.body__sliderBox {
		margin-top: 10px;
	}
	.body__grouptourBox {
		margin-left: 0px;
		margin-top: 10px;
		grid-column-start: 1;
		grid-row-start: 4;
	}
	.footer__getInTouchContainer {
		width: 100%;
	}
	.modalPayBox__container {
		width: 90%;
	}
	.modalPayBox__imgBox {
		width: 40%;
	}
	.modalPayBox__contentBox {
		width: 60%;
	}
}

/* ================================ */

/* ================================ */
@media (max-width: 700px) {
	.header-navBar__buttonsBox {
		width: 70%;
		justify-content: center;
	}
	.header-navBar__buttons a {
		font-size: 10px;
		line-height: 10px;
		margin: 20px;
	}

	/*===================== главный слайдер =================*/

	.body__mainSlider .slick-arrow {
		width: 10px;
		height: 22px;
	}
	/* конец главного слайдера */
	.body-mainSlider__item {
		height: 400px;
	}
	.body-mainSlider__infoBar {
		flex-basis: 60%;
	}
	.body-mainSlider__infoBar p {
		font-size: 10px;
	}
	.body-mainSlider__infoBar h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	.mainButton {
		height: 40px;
		font-size: 14px;
	}

	/* =====================  choose tour ==================== */
	.body__chooseTourBox {
		width: 90%;
		height: 520px;
	}
	/* ================ find tour ================ */

	.body__findTourBox h1 {
		font-size: 20px;
		margin-bottom: 0px;
	}
	.body__findTourBox p {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.body-findTourBox__formBox {
		width: 80%;
		flex-direction: column;
	}
	.findTourBox__formItem {
		font-size: 12px;
		width: 100%;
	}

	/* =============== красивые места ================ */
	.body-beautifulPlacesBoxSlide .slick-list {
		width: 300px;
		height: min-content;
	}
	.beautifulPlacesBox__text {
		font-size: 20px;
		margin-bottom: 5px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow {
		width: 7px;
		height: 11px;
		top: -30px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow.slick-prev {
		margin-right: 38px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow.slick-next {
		margin-right: 10px;
	}
	/* ================ tienSHan ==================== */

	.body__tienShanMapBox {
		width: 450px;
		height: 450px;
	}

	/*  =========  footer contactbox  ===== */
	.footer__contactBox {
		width: 100%;
		height: 250px;
	}
	.footer-contactBox__socialMediaBox {
		width: 47%;
		height: 250px;
	}
	.footer-contactBox__container {
		margin-right: 0px;
		width: 90%;
	}
	.contactBox-socialMediaBox__logoBox {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.contactBox-socialMediaBox__logoBox img {
		width: 100px;
	}
	.footer-contactBox__socialMediaBox p {
		width: 90%;
		font-size: 12px;
		line-height: 15px;
	}
	.contactBox-socialMediaBox__socialMedia {
		margin-bottom: 20px;
	}
	.contactBox-socialMediaBox__socialMedia a {
		margin-left: 10px;
		margin-right: 10px;
		width: 20px;
		height: 20px;
		border-radius: 7px;
	}
	.contactBox-socialMediaBox__socialMedia a img {
		width: 20px;
		height: 20px;
		background-size: cover;
	}
	.footer-contactBox__contacts p {
		margin-bottom: 20px;
		font-size: 15px;
	}
	.footer-contactBox__contacts a {
		margin-bottom: 29px;
		font-size: 12px;
	}
	.footer-contactBox__contacts img {
		width: 20px;
		height: 20px;
	}
	.footer__subBar {
		font-size: 12px;
		height: 40px;
	}

	/* ============  tours  ============= */
	#toursPage .chooseTourBox__headBar {
		justify-content: center;
	}
	#toursPage .body__chooseTourBox {
		width: 80%;
	}
	#toursPage .body-mainBox__item {
		height: 400px;
	}
	.body-mainBox__infoBar {
		margin-top: 0px;
	}
	.body-mainBox__infoBar div {
		margin-bottom: 20px;
	}
	.body-mainBox__infoBar p {
		font-size: 12px;
	}
	.body-mainBox__infoBar a {
		font-size: 12px;
	}
	.body-mainBox__infoBar h1 {
		font-size: 50px;
	}
	/* ======== contacts ======== */
	#contactPage .findTourBox__formItem.Description {
		width: 90%;
	}
	#contactPage .infoBar__title {
		width: 100%;
		font-size: 25px;
		margin-left: 0px;
		margin-bottom: 0px;
	}
	#contactPage .socialMediaContainer {
		margin-bottom: 0px;
	}
	#contactPage .body-mainBox__infoBar {
		margin-bottom: 0px;
	}
	#contactPage .body-mainBox__item {
		height: 400px;
	}
	#contactPage .infoBar__text {
		margin-bottom: 20px;
		font-size: 10px;
	}
	#contactPage .infoBar__contacts a {
		font-size: 10px;
	}
	#contactPage .infoBar__contacts img {
		width: 20px;
		height: 20px;
	}
	#contactPage .infoBar__links a {
		font-size: 10px;
	}
	#contactPage .infoBar__links p {
		font-size: 10px;
	}
	/* ========= galleryPage ========= */
	#galleryPage .slider__item {
		width: 70px;
		height: 70px;
	}
	.gallery__slider .slick-arrow.slick-prev {
		left: -30px;
	}
	.gallery__slider .slick-arrow.slick-next {
		right: -30px;
	}
	#galleryPage .body-mainBox__item {
		height: 400px;
	}
	#galleryPage .galleryBox__itemBox {
		height: 400px;
	}
	#galleryPage .galleryItem__title {
		font-size: 30px;
	}
	#galleryPage .galleryItem__text {
		font-size: 12px;
	}
	.modalSliderBox__invisibleSlider {
		width: 80%;
		height: 300px;
	}
	#galleryPage .body__galleryBox {
		padding-bottom: 30px;
	}
	.gallery__slider .slick-arrow {
		width: 15px;
		height: 15px;
	}

	/* ============= about us ============= */
	#aboutPage .body-mainBox__item {
		height: 400px;
	}
	.body__whoWeAreBox {
		width: 80%;
	}
	/* ====== tourinfo ====== */
	#tourInfoPage .body-mainBox__item {
		height: 400px;
	}
	#tourInfoPage .body-mainBox__infoBar h1 {
		font-size: 25px;
		line-height: 20px;
	}
	#tourInfoPage .body-mainBox__infoBar div {
		font-size: 12px;
	}
	.body__descriptionBox {
		width: 80%;
	}
	.body-description__textBox h1 {
		font-size: 25px;
	}
	.body-description__textBox p {
		font-size: 12px;
	}
	#tourInfoPage .body__sliderBox {
		width: 80%;
	}
	.body__gridContainer {
		width: 100%;
		justify-items: center;
	}
	.body__ltineraryBox {
		width: 80%;
	}
	.findTourBox__formItem.Description {
		width: 97.5%;
	}
	.header-showListButton {
		display: none;
	}
	.header__navList {
		display: none;
	}
}

/* ============== мобилка ============== */

@media (max-width: 500px) {
	.body-mainSlider__item {
		height: 649px;
	}
	.body-mainSlider__infoBar p {
		font-size: 14px;
	}
	.body-mainSlider__infoBar h1 {
		font-size: 50px;
		line-height: 62px;
	}
	.body__mainSlider .slick-arrow {
		display: none;
		visibility: hidden;
	}
	.body__chooseTourBox {
		height: 600px;
	}
	.chooseTourBox__headBar {
		justify-content: center;
	}
	.chooseTourBox-headBar__mainLink {
		display: none;
	}
	.body-chooseTourBoxSlide .slick-arrow.slick-prev {
		margin-left: 10px;
		left: 0;
	}
	.body-chooseTourBoxSlide .slick-arrow.slick-next {
		margin-right: 10px;
	}
	.body-findTourBox__formBox {
		flex-direction: column;
		width: 90%;
	}
	.findTourBox__formItem {
		width: 100%;
		margin-bottom: 5px;
		height: 40px;
	}
	.body__tienShanMapBox {
		width: 90%;
		height: 450px;
	}
	.body-beautifulPlacesBoxSlide .slick-arrow {
		display: none;
		visibility: hidden;
	}
	.beautifulPlacesBox__text {
		justify-content: center;
	}
	.footer__getInTouchContainer {
		flex-direction: column;
		width: 100%;
	}
	.footer-getInTouchBox__contacts {
		display: none;
		visibility: hidden;
	}
	.mainButton {
		width: 90%;
	}
	.body-tienShanMapBox__imgBox {
		height: 250px;
		width: 300px;
	}
	.body-beautifulPlacesBoxSlide {
		height: min-content;
	}
	.body-beautifulPlacesBoxSlide .slick-slide {
		/* height: 305px; */
	}
	.body-tienShanMapBox__headBar {
		justify-content: center;
	}
	.footer__contactBox {
		flex-direction: column;
		height: min-content;
		align-items: center;
	}
	.footer-contactBox__socialMediaBox {
		width: 100%;
		justify-content: center;
	}
	.footer-contactBox__contacts {
		width: 90%;
		justify-content: center;
	}
	#toursPage .body-mainBox__item {
		height: 480px;
	}
	.chooseTourBox__headBar {
		display: none;
		visibility: hidden;
	}
	#toursPage .body__chooseTourBox {
		margin-top: 50px;
	}
	.body__mainContainer {
		flex-direction: column;
	}
	#contactPage .body-mainBox__item {
		height: min-content;
	}
	#contactPage .infoBar__links {
		margin-top: 160px;
	}
	#contactPage .body-findTourBox__formBox {
		flex-direction: column !important;
		justify-content: center;
	}
	.findTourBox__formItem.Description {
		width: 100%;
	}
	#contactPage .findTourBox__formItem.Description {
		width: 100%;
	}
	#galleryPage .body-mainBox__item {
		height: 480px;
	}
	.gallery__slider .slick-arrow.slick-prev {
		left: -20px;
	}
	.gallery__slider .slick-arrow.slick-next {
		right: -20px;
	}
	#aboutPage .body-mainBox__item {
		height: 480px;
	}
	.ourTeamBox__item img {
		margin-bottom: 20px;
	}
	#tourInfoPage .body-mainBox__infoBar div {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	#contactPage .body-mainBox__infoBar {
		width: 80%;
	}
	.header-navBar__buttonsBox {
		display: none;
	}
	.header__navBar {
		justify-content: space-between;
	}
	.header-showListButton {
		display: flex;
	}
	.header-navBar__logoBox {
		margin-left: 20px;
	}
}
