@import url(./adaptive.css);
* {
	margin: 0;
	padding: 0;
}
.dja-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
.mainBox {
	height: 100%;
	width: 100%;
	background: #ffffff;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header {
	display: flex;
	align-items: flex-start;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 99999;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
.header__navBar {
	height: 100%;
	width: 1366px;
}
.header-navBar__logoBox {
	width: 37%;
}
.header-navBar__buttonsBox {
	width: 63%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-navBar__buttons a {
	font-family: Montserrat light;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
}
.header-navBar__buttons a {
	margin: 30px;
	text-decoration: none;
	color: white;
}
.header-navBar__buttons.bordered {
	border-right: 1px solid white;
}
/* body */
.body {
	width: 100%;
	flex-direction: column;
}

/*===================== главный слайдер =================*/
/* Слайдер */
.body__mainSlider {
	width: 100%;
	min-width: 0;
	position: relative;
}
.body__mainSlider .slick-arrow {
	position: absolute;
	z-index: 1;
	font-size: 0;
	width: 16px;
	height: 28px;
	border: none;
}
.body__mainSlider .slick-arrow.slick-prev {
	left: 0;
	background: url(./src/mainSlideVectorL.png) 0 0 /100% no-repeat;
	margin-left: 30px;
}
.body__mainSlider .slick-arrow.slick-next {
	right: 0;
	background: url(./src/mainSlideVectorR.png) 0 0 /100% no-repeat;
	margin-right: 30px;
}
/* Ограничивающая оболочка */
.body__mainSlider .slick-list {
	width: 100%;
	overflow: hidden;
}
.body__mainSlider .slick-track {
	display: flex;
	align-items: flex-start;
}
/* конец главного слайдера */
.body-mainSlider__item {
	width: 100%;
	height: 768px;
	z-index: 0;
	background-image: url(./src/tour_photos/slide_img_1.jpg);
	background-size: cover;
	background-position: center;
}
.body-mainSlider__itemBackShadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -2.22%, rgba(0, 0, 0, 0) 100%);
}
.body-mainSlider__infoBar {
	display: flex;
	flex-basis: 70%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.body-mainSlider__infoBar p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	margin-bottom: 20px;
}
.body-mainSlider__infoBar h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 125px;
	color: #ffffff;
	margin-bottom: 70px;
}

.mainButton {
	display: flex;
	background: #0066ff;
	border-radius: 5px;
	width: 220px;
	height: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: none !important;
	margin: 10px;
}

/* =====================  choose tour ==================== */

.chooseTourBox__headBar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.chooseTourBox-headBar__text {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-left: 10px;
}
.chooseTourBox-headBar__mainLink {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	color: #0066ff;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	flex-direction: column;
	margin-right: 80px;
	border-bottom: 2px solid #0066ff;
	padding-bottom: 3px;
}
.chooseTourBox-item__imgBox {
	width: 100%;
	height: 242px;
	background-size: cover;
	background-image: url(./src/chooseTourImg1.png);
}

.chooseTourBox-item__imgBoxShadow {
	background: linear-gradient(180deg, #000000 -2.22%, rgba(0, 0, 0, 0) 100%);
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.chooseTourBox-item__imgBoxLocationTextBox {
	margin-top: 14px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.chooseTourBox-item__imgBoxLocationTextBox img {
	width: 11px;
	height: 15px;
	margin: 0px 8px 0px 10px;
}
.chooseTourBox-item__imgBoxLocationTextBox p {
	width: 70%;
}
.tourPriceBox {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	/* line-height: 37px; */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: #ffffff;
	width: 137px;
	height: 40px;
	background: #3ba820;
}
.tourPriceBox p {
	font-size: 15px;
	line-height: 48px;
	margin-left: 5px;
}
.chooseTourBox-item__contentBox {
	width: 100%;
	height: 310px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.chooseTourBox-item__contentBox h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 32px;
	margin-top: 20px;
}
.chooseTourBox-item__contentBox p {
	margin-bottom: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #8d8d8d;
	text-align: left;
	width: 85%;
}
.contentBox__aboutTour {
	width: 100%;
}
.contentBox__item {
	width: 50%;
	flex-direction: column;
	text-align: center;
	margin-bottom: 30px;
}
.contentBox__item h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-bottom: 10px;

	color: #000000;
}
.contentBox__item h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
.contentBox__item a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}
/* ===================== choose tour SLIDER ======================== */
.body-chooseTourBoxSlide .slick-list {
	overflow: hidden;
	border-radius: 20px;
}
.body-chooseTourBoxSlide .slick-track {
	display: flex;
	align-items: center;
	justify-content: center;
}
.body__chooseTourBox {
	width: 960px;
	height: 752px;
	flex-direction: column;
}
.body-chooseTourBoxSlide {
	width: 100%;
	min-width: 0;
	position: relative;
}
.body-chooseTourBox__item {
	width: 300px !important;
	margin: 10px 10px 10px 10px;
	height: 552px;
	min-width: 0;
	text-align: center;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.body-chooseTourBoxSlide .slick-arrow {
	position: absolute;
	z-index: 1;
	font-size: 0;
	width: 11px;
	height: 19px;
	border: none;
	top: -40px;
	right: 0;
	background: #c4c4c4;
}
.body-chooseTourBoxSlide .slick-arrow.slick-prev {
	background: url(./src/lVectorOn.png) 0 0 /100% no-repeat;
	margin-right: 48px;
}
.body-chooseTourBoxSlide .slick-arrow.slick-next {
	background: url(./src/rVectorOn.png) 0 0 /100% no-repeat;
	margin-right: 10px;
}
.body-chooseTourBoxSlide .slick-arrow.slick-prev.slick-disabled {
	background: url(./src/lVectorOff.png) 0 0 /100% no-repeat;
}
.body-chooseTourBoxSlide .slick-arrow.slick-next.slick-disabled {
	background: url(./src/rVectorOff.png) 0 0 /100% no-repeat;
}

/* ================ find tour ================ */

.body__findTourBoxImg {
	width: 100%;
	height: 350px;
	background-image: url(./src/brown-horse-grazing-mountain-penas-de-aya-oiartzun-gipuzkoa-spain\ 1.png);
	background-size: cover;
	background-position: center;
}
.body__findTourBox {
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.body__findTourBox h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	margin-bottom: 9px;
	color: #ffffff;
}
.body__findTourBox p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 55px;
	color: #ffffff;
}
.body-findTourBox__formBox {
	width: 650px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.findTourBox__formItem {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0);
	width: 300px;
	margin: 10px 10px 20px 10px;
	height: 40px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 20px;
}
.findTourBox__formItem::placeholder {
	color: white;
}

/* =============== красивые места ================ */
.body-beautifulPlacesBoxSlide .slick-list {
	overflow: hidden;
	width: 100%;
}
.body-beautifulPlacesBoxSlide .slick-track {
	display: flex;
	align-items: flex-start;
}
.body__beautifulPlacesBox {
	width: 968px;
	height: fit-content;
	flex-direction: column;
}
.beautifulPlacesBox__text {
	width: 100%;
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	display: flex;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 100px;
}
.body-beautifulPlacesBoxSlide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	min-width: 0;
	position: relative;
	height: 100%;
}
.body-beautifulPlacesBoxSlide .slick-slide {
	margin-left: 5px;
	margin-right: 5px;
	width: 300px;
}
.body-beautifulPlacesBox__item {
	width: 300px;
	height: 250px;
	min-width: 0;
	margin: 5px;
	text-align: center;
	background-image: url(./src/beautiful_1.png);
	background-size: cover;
	background-position: center;
}
.body-beautifulPlacesBoxSlide .slick-arrow {
	position: absolute;
	z-index: 1;
	font-size: 0;
	width: 11px;
	height: 19px;
	border: none;
	top: -40px;
	right: 0;
	background: #c4c4c4;
}
.body-beautifulPlacesBoxSlide .slick-arrow.slick-prev {
	background: url(./src/lVectorOn.png) 0 0 /100% no-repeat;
	margin-right: 48px;
}
.body-beautifulPlacesBoxSlide .slick-arrow.slick-next {
	background: url(./src/rVectorOn.png) 0 0 /100% no-repeat;
	margin-right: 10px;
}
.body-beautifulPlacesBoxSlide .slick-arrow.slick-prev.slick-disabled {
	background: url(./src/lVectorOff.png) 0 0 /100% no-repeat;
}
.body-beautifulPlacesBoxSlide .slick-arrow.slick-next.slick-disabled {
	background: url(./src/rVectorOff.png) 0 0 /100% no-repeat;
}
/* ================ tienSHan ==================== */

.body__tienShanMapBox {
	width: 940px;
	height: 752px;
	flex-direction: column;
}
.body-tienShanMapBox__headBar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.body-tienShanMapBox__imgBox {
	height: 600px;
	width: 100%;
	background-image: url('./src/map.png');
	background-size: cover;
	background-position: center;
	border: 1px solid grey;
	margin-bottom: 50px;
}
.tienShanMapBox-headBar__text {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;

	color: #000000;
}

/*================== FOOTER ===================*/
.footer__getInTouchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	width: 100%;
	flex-direction: column;
}
.footer__getInTouchBoxImg {
	width: 100%;
	height: 466px;
	background-image: url(./src/original1.png);
	background-size: cover;
	background-position: center;
	flex-direction: column;
}
.footer__getInTouchBox {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
}
.footer-getInTouchBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	color: #ffffff;
}
.findTourBox__formItem.Description {
	width: 620px;
	height: 120px;
}
.footer-getInTouchBox__contacts div {
	margin: 20px 30px;
	text-align: center;
}
.footer-getInTouchBox__contacts div a {
	font-family: Montserrat;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
.footer-getInTouchBox__contacts div p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 10px;
}
.footer .body-findTourBox__formBox {
	flex-direction: column;
}
/*  =========  footer contactbox  ===== */
.footer__contactBox {
	width: 100%;
	height: 350px;
	display: flex;
}
.footer-contactBox__socialMediaBox {
	width: 47%;
	height: 350px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #f2f2f1;
}
.footer-contactBox__container {
	width: 400px;
	margin-right: 82px;
}
.contactBox-socialMediaBox__logoBox {
	margin-bottom: 20px;
	margin-left: 10px;
}
.footer-contactBox__socialMediaBox p {
	width: 378px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
	margin-left: 10px;
}
.contactBox-socialMediaBox__socialMedia {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.contactBox-socialMediaBox__socialMedia a {
	margin-left: 10px;
	margin-right: 10px;
	background: #0066ff;
	width: 30px;
	height: 30px;
	border-radius: 7px;
}
.contactBox-socialMediaBox__socialMedia a img {
	background-size: cover;
}
.footer-contactBox__contacts {
	width: 53%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 20px;
}
.footer-contactBox__contacts p {
	margin-bottom: 29px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}
.footer-contactBox__contacts a {
	margin-bottom: 20px;
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	border-radius: 7px;
}
.footer-contactBox__contacts a img {
	margin-right: 20px;
}
.footer-contactBox__contacts a p img {
	width: 30px;
	height: 30px;
	background: #0066ff;
	background-size: cover;
}
.footer__subBar {
	background: #7ab0ff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	height: 50px;
	width: 100%;
	color: #ffffff;
}
/* Фонты */
@font-face {
	font-family: 'Montserrat';
	src: url('./src/font-family/montserrat/static/Montserrat-Medium.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Montserrat light';
	src: url('../../src/font-family/montserrat/static/Montserrat-Light.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Sedgwick Ave';
	src: url('./src/font-family/Sedgwick_Ave/SedgwickAve-Regular.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}

#mainPage .body__mainSlider .slick-dots {
	display: flex;
	position: absolute;
	bottom: 20px;
}
#mainPage .body__mainSlider .slick-dots li {
	list-style: none;
	margin: 0px 5px;
}
#mainPage .body__mainSlider .slick-dots .slick-active button {
	background: #0066ff;
	border: 2px solid white;
	width: 10px;
	height: 10px;
}
#mainPage .body__mainSlider .slick-dots button {
	font-size: 0px;
	width: 5px;
	height: 5px;
	background-color: white;
	border: 1px solid white;
	border-radius: 50%;
}

#mainPage .body-chooseTourBoxSlide .slick-dots {
	display: flex;
	position: absolute;
	bottom: -25px;
}
#mainPage .body-chooseTourBoxSlide .slick-dots li {
	list-style: none;
	margin: 0px 5px;
}
#mainPage .body-chooseTourBoxSlide .slick-dots .slick-active button {
	background: #0066ff;
	border: 2px solid white;
	width: 10px;
	height: 10px;
}
#mainPage .body-chooseTourBoxSlide .slick-dots button {
	font-size: 0px;
	width: 5px;
	height: 5px;
	border: 1px solid grey;
	border-radius: 50%;
}

/* ========= адаптивный нав панель ========== */

.header-showListButton {
	height: 100%;
	color: white;
	align-items: center;
	display: none;
	justify-content: center;
	margin-right: 20px;
}
.header__navList {
	display: none;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 310px;
	background: #0066ff;
}
.header-navList__logoBox {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 60px;
	background: #0066ff;
	border-bottom: 4px solid white;
}
.header-navList__logoBox a {
	margin-left: 20px;
}
.header-navList__logoBox img {
	width: 120px;
}
.header-navList__logoBox div {
	margin-right: 20px;
}
.header-navList__item {
	height: 60px;
	width: 100%;
	background: #0066ff;
	border-bottom: 4px solid white;
	font-family: Montserrat light;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-left: 51px;
}
