@import url('../../index.css');
@import url(./adaptive.css);

.linked {
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 6px;
}

/* ================== BODY ===================  */

.body-mainBox__item {
	width: 100%;
	height: 648px;
	background-image: url(../../src/galleryBackImg.png);
	background-size: cover;
	background-position: center;
}
.body-mainBox__itemBackShadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -2.22%, rgba(0, 0, 0, 0) 100%);
}
.body-mainBox__infoBar {
	margin-top: -30px;
	display: flex;
	flex-basis: 70%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.body-mainBox__infoBar div {
	display: flex;
	margin-bottom: 74px;
	justify-content: center;
	align-items: center;
}
.body-mainBox__infoBar img {
	width: 5px;
	height: 8px;
	margin: 11px;
}
.body-mainBox__infoBar p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.body-mainBox__infoBar a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;

	color: #ffffff;
}
.body-mainBox__infoBar h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 125px;
	color: #ffffff;
	margin-bottom: 70px;
}
.body__galleryBox {
	width: 940px;
	padding-top: 100px;
	padding-bottom: 100px;
	flex-direction: column;
}
.galleryBox__itemBox {
	background-image: url(../../src/galleryItemBackImg1.png);
	margin-bottom: 50px;
	background-size: cover;
	width: 100%;
	height: 500px;
}
.galleryBox__itemShadowBox {
	width: 100%;
	height: 100%;
	background: #000000a4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.galleryBox__itemTextBox {
	width: 83%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.galleryItem__title {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 75px;
	color: #ffffff;
	margin-bottom: 4px;
}
.galleryItem__text {
	width: 90%;
	font-family: Montserrat light;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 25px;
	color: #ffffff;
}

/* ======================================== */

.gallery__slider {
	min-width: 0;
	width: 100%;
	z-index: 1;
	position: relative;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__item {
	width: 140px;
	height: 140px;
	border-radius: 20px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	background-image: url(../../src/tour_photos/slide_img_1.jpg);
	background-size: cover;
	background-position: center;
	margin-left: 10px;
	margin-right: 10px;
}
.gallery__slider .slick-arrow {
	position: absolute;
	z-index: 1;
	font-size: 0;
	width: 22px;
	height: 22px;
	border: none;
}
.gallery__slider .slick-arrow.slick-prev {
	left: -50px;
	background: url(../../src/galleryVectorL.png) 0 0 /100% no-repeat;
}
.gallery__slider .slick-arrow.slick-next {
	right: -50px;
	background: url(../../src/galleryVectorR.png) 0 0 /100% no-repeat;
}
/* Ограничивающая оболочка */
.gallery__slider .slick-list {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.gallery__slider .slick-track {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
/* ============= invisibleSlider ============== */
.modalSliderBox {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000ad;
}
.modalSliderBox__invisibleSlider {
	width: 940px;
	height: 422px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	position: relative;
	min-width: 0;
}
.invisibleSlider__item {
	width: 100%;
	height: 100%;
	z-index: 999999;
	border-radius: 20px;
	border: 3px solid #ffffff;
	box-sizing: border-box;
	border-radius: 20px;
	background-image: url(../../src/tour_photos/slide_img_1.jpg);
	background-size: cover;
	background-position: center;
}
.invisibleSlider__itemShadow {
	background-color: #00000074;
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.invisibleSlider__itemShadow h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #ffffff;
	margin: 20px 0px 0px 20px;
}
.modalSliderBox__invisibleSlider .slick-arrow {
	position: absolute;
	z-index: 1;
	font-size: 0;
	width: 22px;
	height: 22px;
	border: none;
}
.modalSliderBox__invisibleSlider .slick-arrow.slick-prev {
	left: 0;
	background: url(../../src/galleryVectorL.png) 0 0 /100% no-repeat;
	margin-left: 20px;
}
.modalSliderBox__invisibleSlider .slick-arrow.slick-next {
	right: 0;
	background: url(../../src/galleryVectorR.png) 0 0 /100% no-repeat;
	margin-right: 20px;
}
/* Ограничивающая оболочка */
.modalSliderBox__invisibleSlider .slick-list {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.modalSliderBox__invisibleSlider .slick-track {
	height: 100%;
	display: flex;
	align-items: flex-start;
}

/*================== FOOTER ===================*/

#galleryPage .footer__getInTouchBoxImg {
	background-image: url(../../src/original1.png);
}
/*  =========  footer contactbox  ===== */
