@import url('../../index.css');

/* ================== BODY ===================  */

.body-mainBox__item {
	width: 100%;
	height: 648px;
	z-index: 0;
	background-image: url(../../src/tourDetailsImg.png);
	background-size: cover;
	background-position: center;
}
.body-mainBox__itemBackShadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -2.22%, rgba(0, 0, 0, 0) 100%);
}
.body-mainBox__infoBar {
	margin-top: -30px;
	display: flex;
	flex-basis: 70%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.body-mainBox__infoBar div {
	display: flex;
	margin-bottom: 74px;
	justify-content: center;
	align-items: center;
}
.body-mainBox__infoBar img {
	width: 5px;
	height: 8px;
	margin: 11px;
}
.body-mainBox__infoBar p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.body-mainBox__infoBar a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;

	color: #ffffff;
}
.body-mainBox__infoBar h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 125px;
	color: #ffffff;
	margin-bottom: 70px;
}
/* ============= BODY descriptionBox ============= */

.body__descriptionBox {
	width: 560px;
	height: min-content;
	background: #ffffff;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-top: -50px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-bottom: 20px;
}
.body-description__textBox {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
	height: fit-content;
}
.body-description__textBox h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 20px;
}
.body-description__textBox p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	width: 100%;
}
.body-description__tourInfoBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.body-description__tourInfoBox div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.tourInfoTitle {
	width: 34%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #0066ff;
	margin-right: 20px;
}
.tourInfoText {
	width: 55%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
/* ================ tourSliderBox ================ */
.body__sliderBox {
	grid-column-start: 1;
	grid-row-start: 2;
	width: 560px;
	height: min-content;
	background: #ffffff;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-bottom: 20px;
	margin-top: -75px;
}
.sliderBox__title {
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 20px;
}
/* ================ Slider ================ */
#tourInfoPage .body__mainSlider {
	border-radius: 20px;
	height: 370px;
}
#tourInfoPage .body__mainSlider .slick-arrow.slick-prev {
	background: url(../../src/mainSlideVectorL.png) 0 0 /100% no-repeat;
}
#tourInfoPage .body__mainSlider .slick-arrow.slick-next {
	background: url(../../src/mainSlideVectorR.png) 0 0 /100% no-repeat;
}
#tourInfoPage .body__mainSlider .slick-dots {
	display: flex;
	position: absolute;
	bottom: 20px;
}
#tourInfoPage .body__mainSlider .slick-dots li {
	list-style: none;
	margin: 0px 5px;
}
#tourInfoPage .body__mainSlider .slick-dots .slick-active button {
	background: #0066ff;
	border: 2px solid white;
	width: 10px;
	height: 10px;
}
#tourInfoPage .body__mainSlider .slick-dots button {
	font-size: 0px;
	width: 5px;
	height: 5px;
	background-color: white;
	border: 1px solid white;
	border-radius: 50%;
}
/* Ограничивающая оболочка */
#tourInfoPage .body__mainSlider .slick-list {
	border-radius: 20px;
}
/* конец главного слайдера */
#tourInfoPage .body-mainSlider__item {
	height: 370px;
	background-image: url(../../src/tour_photos/slide_img_1.jpg);
	border-radius: 20px;
}
#tourInfoPage .body-mainSlider__itemBackShadow {
	border-radius: 20px;
	background: linear-gradient(180deg, #000000 -60%, rgba(0, 0, 0, 0) 100%);
}

/* ================ body__ltineraryBox ================= */

.body__ltineraryBox {
	grid-column-start: 1;
	grid-row-start: 3;
	width: 560px;
	height: min-content;
	padding: 30px;
	background: #ffffff;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-bottom: 20px;
}
.ltineraryBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
	margin-bottom: 20px;
}
.ltineraryBox__infoBox {
	width: 100%;
	height: min-content;
	border-left: 1px dashed #cecece;
}
.infoBox__item {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 30px;
}
.infoBox-item__icon {
	background-color: white;
	margin-left: -11px;
}
.infoBox-item__mainText {
	width: 100%;
	display: flex;
	position: relative;
	margin-bottom: 20px;
}
.infoBox-item__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #0066ff;
	margin-right: 5px;
	width: fit-content;
	height: 20px;
}
.infoBox-item__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	width: 80%;
}
.infoBox__itemBox {
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.infobox-item__setInviseVector {
	background-image: url(../../src/setInvisibilityVectorOff.png);
	width: 19px;
	height: 11px;
	background-size: cover;
	position: absolute;
	right: 0%;
	align-self: center;
}
.infobox-item__invisibleBox {
	display: none;
	flex-direction: column;
	height: min-content;
}
.invisibleBox__img {
	background-image: url(../../src/ltineraryImg.png);
	width: 100%;
	height: 250px;
	background-size: cover;
	margin-bottom: 30px;
}
.invisibleBox__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #000000;
}

/* ============ body__grouptourBox =========== */
.body__gridContainer {
	width: 940px;
	background-color: transparent;
	z-index: 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: max-content;
	position: relative;
}
.body__grouptourBox {
	grid-column-start: 2;
	grid-row-start: 1;
	width: 240px;
	height: min-content;
	margin-left: 20px;
	margin-top: -50px;
	margin-bottom: 20px;
	background: #ffffff;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.grouptourBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}
.grouptourBox__tourDateBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.tourDateBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-bottom: 10px;
	color: #000000;
}
.tourDateBox__date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
	color: #000000;
}
.tourDateBox__spot {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #a4a4a4;
}
.contentBox__aboutTour {
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 2px solid #efefef;
	margin-bottom: 18px;
}
.contentBox__item {
	width: 50%;
	flex-direction: column;
	text-align: center;
}
.contentBox__item h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-bottom: 10px;

	color: #000000;
}
.contentBox__item h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
.contentBox__item a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}
.grouptourBox__dbRoomBox {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 19px;
}
.grouptourPriceBox {
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #1f9c00;
	margin-right: 13px;
}
.grouptourPriceBox p {
	font-size: 10px;
	display: flex;
	align-items: flex-end;
	height: 29px !important;
}
.grouptourBox-dbRoomBox__title {
	width: max-content;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px !important;
	color: #000000;
}
.grouptourBox-dbRoomBox__subTitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;

	color: #a4a4a4;
}
/*================== FOOTER ===================*/

#tourInfoPage .footer__getInTouchBoxImg {
	background-image: url(../../src/original1.png);
}
/* ============== modalPayBox ================ */
.modalPayBox {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000ad;
}
.modalPayBox__container {
	display: flex;
	width: 940px;
	height: 500px;
	background: #ffffff;
}
.modalPayBox__imgBox {
	width: 380px;
	height: 100%;
	background-image: url('../../src/bookTourModalImg.png');
	background-size: cover;
}
.modalPayBox__contentBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 20px;
	width: 560px;
	height: 100%;
	position: relative;
}
.contentBox__titleBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 42px;
}
.contentBox__title {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
}
.modalPayBox__tourPrice {
	align-items: center;
	display: flex;
	background: #1f9c00;
	/* width: 192px; */
	padding-right: 90px;
	height: 100%;
	padding-left: 17px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 45px;
	font-size: 30px;
	color: #ffffff;
}
.modalPayBox__tourPrice p {
	margin-bottom: -10px;
	margin-left: 5px;
	font-size: small;
	line-height: 48px;
	align-self: flex-end;
}

.modalPayBox__formBox {
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #c4c4c4;
}
.formBox__nameForm {
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 82%;
	height: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-right: 20px;
}
.formBox__nameForm::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	padding-left: 20px;
}
.formBox__dateBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 82%;
	margin-top: 10px;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.formBox__dateForm {
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 45%;
	height: 40px;
	padding-left: 20px;
}
.contentBox__subTitleBox {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.contentBox__subTitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #c4c4c4;
}
.contentBox__subPrice {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	color: #1f9c00;
	display: flex;
	align-items: center;
}
.contentBox__subPrice p {
	font-size: small;
	margin-top: 11px;
	margin-left: 5px;
	margin-right: 90px;
}
.modalPayBox__closeButton {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	background-image: url(../../src/modalPayBox__closeIcon.png);
	width: 25px;
	height: 25px;
	background-size: cover;
}
