* {
	margin: 0;
	padding: 0;
}
.dja-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainButton {
	display: flex;
	background: #0066ff;
	border-radius: 5px;
	width: 220px;
	height: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: none !important;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
.mainBox {
	width: 100%;
	background: #ffffff;
	flex-direction: column;
}
.linked {
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 6px;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header__navBar {
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 99999;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
.header-navBar__logoBox {
	width: 37%;
}
.header-navBar__buttonsBox {
	width: 63%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-navBar__buttons a {
	font-family: Montserrat light;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
}
.header-navBar__buttons a {
	margin: 30px;
	text-decoration: none;
	color: white;
}
.header-navBar__buttons.bordered {
	border-right: 1px solid white;
}

/* body */
.body {
	width: 100%;
	flex-direction: column;
}

/* ================== BODY ===================  */

.body-mainBox__item {
	width: 100%;
	height: 648px;
	z-index: 0;
	background-image: url(../../src/aboutBackImg.png);
	background-size: cover;
	background-position: center;
}
.body-mainBox__itemBackShadow {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -2.22%, rgba(0, 0, 0, 0) 100%);
}
.body-mainBox__infoBar {
	margin-top: -30px;
	display: flex;
	flex-basis: 70%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.body-mainBox__infoBar div {
	display: flex;
	margin-bottom: 74px;
	justify-content: center;
	align-items: center;
}
.body-mainBox__infoBar img {
	width: 5px;
	height: 8px;
	margin: 11px;
}
.body-mainBox__infoBar p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.body-mainBox__infoBar a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;

	color: #ffffff;
}
.body-mainBox__infoBar h1 {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 125px;
	color: #ffffff;
	margin-bottom: 70px;
}
/* ============== who we are ================= */

.body__whoWeAreBox {
	width: 910px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	margin-bottom: 100px;
}
.whoWeAre__title {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 20px;
}
.whoWeAre__textImgBox {
	width: 100%;
	height: 386px;
	display: flex;
	justify-content: flex-start;
}
.whoWeAre__textBox {
	width: 560px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-right: 20px;
}
.whoWeAre__subtitle {
	margin-bottom: 6px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}
.whoWeAre__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #000000;
}
.body__ourTeamBox {
	width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 100px;
}
.ourTeamBox__title {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 20px;
}
.ourTeamBox__item {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.ourTeamBox__textBox {
	width: 560px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 20px;
}
.ourTeamBox__subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
	color: #000000;
}
.ourTeamBox__subtitleSub {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #000000;
}
.ourTeamBox__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #000000;
}
/*================== FOOTER ===================*/
.body-findTourBox__formBox {
	width: 650px;
	flex-wrap: wrap;
	text-align: center;
}
.findTourBox__formItem {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0);
	font-weight: bold;
	width: 300px;
	margin: 10px 10px 20px 10px;
	height: 40px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 20px;
}
.findTourBox__formItem::placeholder {
	color: white;
}
.footer {
	width: 100%;
	flex-direction: column;
}
.footer__getInTouchBoxImg {
	width: 100%;
	height: 466px;
	background-image: url(../../src/original1.png);
	background-size: cover;
	background-position: center;
	flex-direction: column;
}
.footer__getInTouchBox {
	width: 100%;
	height: 466px;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
}
.footer-getInTouchBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	font-weight: 900;
	color: #ffffff;
}
.findTourBox__formItem.Description {
	width: 620px;
	height: 120px;
	align-items: flex-start;
	padding-top: 10px;
}
.footer-getInTouchBox__contacts div {
	margin: 20px 30px;
	text-align: center;
}
.footer-getInTouchBox__contacts div a {
	font-family: Montserrat;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
.footer-getInTouchBox__contacts div p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 10px;
}
/*  =========  footer contactbox  ===== */
.footer__contactBox {
	width: 100%;
	height: 350px;
	display: flex;
}
.footer-contactBox__socialMediaBox {
	width: 47%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: #f2f2f1;
}
.contactBox-socialMediaBox__logoBox {
	margin-left: 213px;
	margin-bottom: 20px;
}
.footer-contactBox__socialMediaBox p {
	width: 378px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	margin-left: 213px;
	margin-bottom: 20px;
}
.contactBox-socialMediaBox__socialMedia {
	margin-left: 203px;
	margin-bottom: 20px;
}
.contactBox-socialMediaBox__socialMedia a {
	margin-left: 10px;
	margin-right: 10px;
	background: #0066ff;
	width: 30px;
	height: 30px;
	border-radius: 7px;
}
.contactBox-socialMediaBox__socialMedia a img {
	background-size: cover;
}
.footer-contactBox__contacts {
	width: 53%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 20px;
}
.footer-contactBox__contacts p {
	margin-bottom: 29px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}
.footer-contactBox__contacts a {
	margin-bottom: 20px;
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	border-radius: 7px;
}
.footer-contactBox__contacts a img {
	margin-right: 20px;
}
.footer-contactBox__contacts a p img {
	width: 30px;
	height: 30px;
	background: #0066ff;
	background-size: cover;
}
.footer__subBar {
	background: #7ab0ff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	height: 50px;
	width: 100%;

	color: #ffffff;
}
/* Фонты */
@font-face {
	font-family: 'Montserrat';
	src: url('../../src/font-family/montserrat/static/Montserrat-Medium.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Montserrat light';
	src: url('../../src/font-family/montserrat/static/Montserrat-Light.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Sedgwick Ave';
	src: url('../../src/font-family/Sedgwick_Ave/SedgwickAve-Regular.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
