@import url('../../index.css');

#contactPage body {
	height: 100vh;
}
.linked {
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 6px;
}

/* ================== BODY ===================  */
.body__mainContainer {
	width: 1000px;
	height: 100%;
}
.body-mainBox__item {
	width: 100%;
	height: 743px;
	z-index: 0;
	background-image: url(../../src/toursImg.jpg);
	background-size: cover;
	background-position: center;
}
.body-mainBox__itemBackShadow {
	display: flex;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #000000 -10%, rgba(0, 0, 0, 0) 80%);
}
.body-mainBox__infoBar {
	display: flex;
	width: 50%;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	margin-bottom: 130px;
}
.infoBar__links {
	display: flex;
	margin-bottom: 74px;
	justify-content: center;
	align-items: center;
}
.infoBar__linkImg {
	width: 5px;
	height: 8px;
	margin: 11px;
}
.infoBar__links p {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}
.infoBar__links a {
	text-decoration: none;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;

	color: #ffffff;
}
.infoBar__title {
	font-family: Sedgwick Ave;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 75px;
	color: #ffffff;
	margin-bottom: 11px;
}
.socialMediaContainer .infoBar__title {
	margin-left: 20px;
}
.infoBar__text {
	margin-bottom: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}
.infoBar__contacts {
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.infoBar__contacts a {
	margin-bottom: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
}
.infoBar__contacts img {
	margin-right: 20px;
}

.socialMediaContainer {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.contactBox-socialMediaBox__socialMedia {
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 10px;
}
.contactBox-socialMediaBox__socialMedia a {
	margin: 10px;
}

/* =========================================== */

#contactPage .body-findTourBox__formBox {
	width: 100%;
}
.footer__getInTouchBox {
	width: 100%;
	flex-direction: column;
	background: transparent;
	padding: 0px;
}
.footer-getInTouchBox__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	font-weight: 900;
	color: #ffffff;
}
#contactPage .findTourBox__formItem {
	width: 220px;
	margin: 10px;
}
#contactPage .findTourBox__formItem.Description {
	width: 460px;
	align-items: flex-start;
	padding-top: 10px;
}
#contactPage .footer__getInTouchBox {
	margin-bottom: 20px;
	height: min-content;
}
/*================== FOOTER ===================*/
.footer {
	width: 100%;
}
.footer__subBar {
	background: #7ab0ff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	height: 50px;
	width: 100%;

	color: #ffffff;
}
/* Фонты */
@font-face {
	font-family: 'Montserrat';
	src: url('../../src/font-family/montserrat/static/Montserrat-Medium.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Montserrat light';
	src: url('../../src/font-family/montserrat/static/Montserrat-Light.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Sedgwick Ave';
	src: url('../../src/font-family/Sedgwick_Ave/SedgwickAve-Regular.ttf')
		format('truetype');
	font-style: normal;
	font-weight: normal;
}
